---
import BaseLayout from "../../layout/BaseLayout.astro";
import { getRecipies } from "../../utils/recipies";
import RecipeToc from "../../components/recipe_toc.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const recipies = await getRecipies();

  const techs = [...new Set(recipies.flatMap(recipe => recipe.data.tech))];
  console.log(techs);

  const paths =  techs.map(tech => ({
    params: { tech }, props: { tech },
  }));

  return paths;
}


const { tech } = Astro.params;
type Props = {
  tech: string;
};  

const recipies = await getRecipies();
const filteredRecipies = recipies.filter(recipe => recipe.data.tech.includes(tech));

---
<BaseLayout pageTitle={tech} description={tech} category="recipies">
  <a href="/recipies" class="text-sm text-gray-500 hover:text-gray-700">â† Back to all recipies </a>

  <h1 class="text-4xl py-0 md:text-6xl tracking-wide md:py-8 font-light text-right md:text-center italic">{tech} recipies</h1>
    <RecipeToc recipies={filteredRecipies} />
</BaseLayout>
