[tools]
node = "24"
pnpm = "latest"
"npm:repomix" = "latest"
"npm:@anthropic-ai/claude-code" = "latest"

[hooks]

[env]
_.path = ['./node_modules/.bin']
MODEL = 'claude-3.7-sonnet'

[tasks.pnpm-install]
description = 'Installs dependencies with pnpm'
run = 'pnpm install'
sources = ['package.json', 'pnpm-lock.yaml', 'mise.toml']
outputs = ['node_modules/.pnpm/lock.yaml']

[tasks.dev]
description = 'Calls your dev script in `package.json`'
run = 'npm run dev'
depends = ['pnpm-install']

[tasks.clean]
description = 'Clears out dist'
run = 'rm -rf dist/'

[tasks.build]
description = 'Clears out dist'
run = ['npm run build', 'du -sh dist']
depends = ['pnpm-install','clean','update-subsites','build-subsites']


[tasks.publish-preview]
description = 'Builds the preview site'
run = ['rsync -rv dist/ pgs.sh:/thefocus-landing/']

[tasks.buttondown]
description = 'Pushed a draft'
run = ['npm run buttondown "$*"']

[tasks.llm-dump]
description = 'Runs repomix'
run = ['repomix --ignore "**/*.log,tmp/,src/**/*md,src/**/fluximages/**,bin/*"']
