---
import FluxRunDisolve from "../../../components/flux-run-disolve.astro";
import BaseLayout from "../../../layout/BaseLayout.astro";
import { getFluxImages } from "../../../utils/images";
const lil_robots = await getFluxImages("lil_robots");
---

<BaseLayout title="Image Generation Case Studies" description="Case Studies">
    <h1 class="text-4xl font-bold">Image Generation Case Studies</h1>



    <FluxRunDisolve run={lil_robots} height="512" width="512"> </FluxRunDisolve>


    <ul>
        <li><a href="/use-cases/flux-images/steps">Steps</a></li>
        <li><a href="/use-cases/flux-images/styles">Styles</a></li>
        <li><a href="/use-cases/flux-images/prince">Prince</a></li>
    </ul>
</BaseLayout>