---
import BaseLayout from '../../../layout/BaseLayout.astro';
import { getFluxImages } from '../../../utils/images';
import FluxRunGrid from '../../../components/flux/flux-run-grid.astro';
import FluxRunDisolve from '../../../components/flux/flux-run-disolve.astro';
import FluxRunCarousel from '../../../components/flux/flux-run-carousel.astro';
const prince_prompt = await getFluxImages("prince_prompt");
const prince_varyseeds = await getFluxImages("prince_varyseeds");

---

<BaseLayout pageTitle="The Little Prince" description="A collection of Flux images" category="insights">

<h1 class="text-4xl md:text-5xl font-bold text-ink mb-8">The Little Prince</h1>

<div class="prose">
    <h2 class="text-2xl font-bold text-ink mb-4">Prince</h2>
    <pre> mflux-wrapper.py --new \
        --prompt "The Little Prince with golden hair, dressed \
        in green and wrapped in a yellow scarf, tenderly caring \
        for a red rose on a small asteroid, \
        Van Gogh Starry Night sky, swirling stars, oil painting, \
        soft brush strokes, dreamy and whimsical." \
        --iterations 6
    </pre>

</div>

<FluxRunGrid run={prince_prompt}> </FluxRunGrid>


<div class="prose">
    <h2 class="text-2xl font-bold text-ink mb-4">Step iterations</h2>
    <pre>mflux-wrapper.py --seed --vary-steps 2,3,4,5,6,7</pre>
</div>

<FluxRunDisolve run={prince_varyseeds} height="512" width="512"> </FluxRunDisolve>

        



</BaseLayout>