---
import BaseLayout from "../../layout/BaseLayout.astro";
import { getPosts } from "../../utils/posts";
import PostCard from "../../components/cards/post-card.astro";
const allPosts = await getPosts();
const useCases = allPosts.filter(post => post.data.tags?.includes('usecase'));
---

<BaseLayout title="Use Cases" description="Use Cases">
    <h1 class="text-4xl font-bold pb-8">Use Cases</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {useCases.map(post => (
            <PostCard post={post} />
        ))}
    </div>
</BaseLayout>