---
import { getPosts } from "../../utils/posts";
import BaseLayout from "../../layout/BaseLayout.astro";
import PostCard from "../../components/cards/post-card.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const allPosts = await getPosts();
  const uniqueTags = [...new Set(allPosts.flatMap(post => post.data.tags ?? []))];
  
  return uniqueTags.map(tag => ({
    params: { id: tag },
    props: { 
      tag,
      posts: allPosts.filter(post => post.data.tags?.includes(tag))
    }
  }));
}

// 2. For your template, you can get the entry directly from the prop
const { tag,posts } = Astro.props;
---
<BaseLayout pageTitle={`${tag} posts`} description={`A list of all posts tagged with ${tag}`}>
  <h1 class="text-4xl font-bold py-2">{tag}</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {posts.map((post) => (
        <PostCard post={post} />
    ))}
</div>

</BaseLayout>