---
import BaseLayout from "../layout/BaseLayout.astro";
import BreadcrumbList from "../components/schemas/breadcrumb.astro";
import { getCaseStudies } from "../utils/case-studies";
import RelatedCaseStudy from "../components/related/related-case-study.astro";
import CarouselCaseStudy from "../components/carousel/carousel-case-study.astro";

const case_studies = await getCaseStudies();


---
<BaseLayout pageTitle="Focus.ai Blog" description="A blog about AI and the future of work" category="case-studies">

    <BreadcrumbList slot="head" />

    <div class="space-y-12">
        <h2 class="text-4xl sm:text-7xl font-bold">
           We love solving real problems.
        </h2>

        <CarouselCaseStudy />
        

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 font-fraunces">

        {case_studies.map((case_study) => (
            <RelatedCaseStudy case_study={case_study} image={true}/>
        ))}
        </div>
    </div>
</BaseLayout>
