---
import BaseLayout from "../layout/BaseLayout.astro";
import { getrecipes, getRecipeUrl, getSection } from "../utils/recipes";
import RecipeToc from "../components/recipe_toc.astro";
import PostListSchema from "../components/schemas/postlist.astro";
import BreadcrumbList from "../components/schemas/breadcrumb.astro";
import { getCaseStudies,getCaseStudyUrl } from "../utils/case-studies";
const case_studies = await getCaseStudies();


---
<BaseLayout pageTitle="Focus.ai Blog" description="A blog about AI and the future of work" category="case-studies">

    <BreadcrumbList slot="head" />

    <div class="font-bemb">
        <h1 class="text-4xl py-0 md:text-6xl tracking-wide md:py-8 font-bold">case studies</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">

        {case_studies.map((case_study) => (
            <div >
                <p class="text-xs uppercase tracking-wider mb-1">{case_study.data.industry}</p>
                <h2 class="text-xl font-bold mb-2 group-hover:text-orange-500 transition-colors">
                    {case_study.data.title}
                </h2>
                <p class="text-sm text-gray-700 mb-3">{case_study.data.description}</p>
                <a href={getCaseStudyUrl( case_study)} class="uppercase text-xs font-bold tracking-wider hover:text-orange-500 transition-colors">VIEW CASE STUDY</a>
            </div>
        ))}
        </div>
    </div>
</BaseLayout>
