---
import LandingLayout from '../layout/LandingLayout.astro';
import { Content } from '../content/coding-agents-blurb.md';
import openGraphImage from '../content/assets/coding_agent_heatmap_exact_1200x630.png';
---

<LandingLayout 
  pageTitle="June 2025 Coding Agent Report" 
  description="Curious how AI coding agents stack up in 2025? This report breaks down the strengths, weaknesses, and surprises from 15 leading tools, with clear winners for pros, tinkerers, and casual users alike."
  openGraphImage={openGraphImage}
  bodyClass="bg-white">
  <div class="md:flex md:gap-16 items-start py-16">
    <div class="md:w-1/2 text-left">
      <h1 class="text-4xl md:text-6xl font-bold mb-4">June 2025 Coding Agent Report</h1>
      <p class="text-lg md:text-xl mb-8">
        Curious how AI coding agents stack up in 2025? This report breaks down the strengths, weaknesses, and surprises from 15 leading tools, with clear winners for pros, tinkerers, and casual users alike.
      </p>
      <div class="prose">
        <Content />
      </div>
    </div>

    <div class="md:w-1/2 mt-8 md:mt-0">
        <div>
            <img src="/reports/coding-agent-heatmap.png" alt="A heatmap showing the evaluation of different coding agents across 8 categories." />
        </div>
         <script async src="https://subscribe-forms.beehiiv.com/embed.js"></script>
         <div class="flex justify-center">
            <iframe src="https://subscribe-forms.beehiiv.com/111ff0eb-c7df-445a-98bf-946f849f416a" class="beehiiv-embed" data-test-id="beehiiv-embed" frameborder="0" scrolling="no" style="width: ; height: ; margin: 0; border-radius: 0px 0px 0px 0px !important; background-color: transparent; box-shadow: 0 0 #0000;"></iframe>    
        </div>
    </div>
  </div>
</LandingLayout> 