---
import BaseLayout from "../layout/BaseLayout.astro";
import { getRecipies, getRecipeUrl, getSection } from "../utils/recipies";
import RecipeToc from "../components/recipe_toc.astro";
const allRecipies = await getRecipies();
const recipiesSection = await getSection("recipies");

---
<BaseLayout pageTitle="Focus.ai Blog" description="A blog about AI and the future of work" category="recipies">
    <div class="font-bemb">
        <h1 class="text-4xl py-0 md:text-6xl tracking-wide md:py-8 font-light text-right md:text-center italic">Recipies</h1>
        {recipiesSection && <div class="prose  text-lg pb-4 justify" set:html={recipiesSection.rendered.html}></div>}

        <RecipeToc recipies={allRecipies} />
    </div>
</BaseLayout>
