---
import BaseLayout from "../layout/BaseLayout.astro";
import { getPosts } from '../utils/posts';
const allPosts = await getPosts();

const tags = {};

allPosts.forEach((post) => {
  post.data.tags?.forEach((tag) => {
    tags[tag] = tags[tag] || [];
    tags[tag].push(post);
  });
});

---
<BaseLayout pageTitle="Tags">
  <h1 class="text-4xl font-bold py-10">Tags</h1>

  <ul class="list-disc list-inside">
    {Object.keys(tags).map((tag) => <li><a href={`/tags/${tag}`}>{tag}</a> ({tags[tag].length})</li>)}
  </ul>
</BaseLayout>