---
import BaseLayout from "../layout/BaseLayout.astro";
import { getPosts } from '../utils/posts';
import { getTagSlug } from '../utils/ids';
const allPosts = await getPosts();

const tags = {};

allPosts.forEach((post) => {
  post.data.tags?.forEach((tag) => {
    tags[tag] = tags[tag] || [];
    tags[tag].push(post);
  });
});

---
<BaseLayout pageTitle="All of our tags" description="A list of all of our tags">
  <h1 class="text-4xl font-bold py-10 text-ink">Tags</h1>

  <ul class="list-disc list-inside">
    {Object.keys(tags).map((tag) => <li><a href={getTagSlug(tag)}>{tag}</a> ({tags[tag].length})</li>)}
  </ul>
</BaseLayout>