---
import BaseLayout from "../../../layout/BaseLayout.astro";
---

<BaseLayout title="Image Generation Case Studies" description="Case Studies">
    <h1>Image Generation Case Studies</h1>


    <ul>
        <li><a href="/case-studies/flux-images/steps">Steps</a></li>
        <li><a href="/case-studies/flux-images/styles">Styles</a></li>
        <li><a href="/case-studies/flux-images/prince">Prince</a></li>
    </ul>
</BaseLayout>