<div class="divide-y divide-gray-200 overflow-hidden rounded-sm hover:rounded-lg bg-white shadow-sm hover:shadow-lg transition-shadow duration-300 transition-border-radius">
    <div class="px-4 pt-4 pb-2 sm:px-6">
        <slot name="header" />
    </div>
    <div><slot name="image"/></div>
    <div class="px-4 py-5 sm:p-6">
        <slot />
    </div>
    <div class="px-4 py-4 sm:px-6">
        <slot name="footer" />
    </div>
  </div>