---
import { Image } from "astro:assets";

import image1 from "../images/image1.png";
import image2 from "../images/image2.png";
import image3 from "../images/image3.png";
import image4 from "../images/image4.png";



---

<div class="inline-flex overflow-x-scroll snap-x snap-mandatory">
    <div class="box-content flex flex-none max-w-full snap-center ">
        <Image src={image1} alt="Focus AI Hero" />
    </div>
    <div class="box-content flex flex-none max-w-full snap-center ">
        <Image src={image2} alt="Focus AI Hero" />
    </div>
    <div class="box-content flex flex-none max-w-full snap-center ">
        <Image src={image3} alt="Focus AI Hero" />
    </div>
    <div class="box-content flex flex-none max-w-full snap-center ">
        <Image src={image4} alt="Focus AI Hero" />
    </div>
</div>

<style>
img {
                        
  width: 100vw;
  height: 100vh;
  object-fit: cover;
    }
</style>