---
---
<section class="container mx-auto py-4 px-2">
    <h2 class="text-2xl font-bold text-gray-900  text-center border-t-gray-200 border-t-2 pt-16 mt-16">Subscribe to our newsletter</h2>
    <iframe
scrolling="no"
style="width:100%!important;height:220px;"
src="https://newsletter.thefocus.ai?as_embed=true"
></iframe><br /><br />
  </section>
