---
import PostImage from "./postimage.astro";
import Card from "./card.astro";    
import { getSlug, getTagSlug, getPostLink } from "../utils/posts";
const {post} = Astro.props;

const dateOptions: object = {
	year: "numeric",
	month: "long",
	day: "numeric",
};
const postLink = getPostLink(post);
const formattedPublishDate = new Date(post.data.date).toLocaleDateString("en-US", dateOptions);

const title = (post.data.published ? "" : "[DRAFT] ") + post.data.title || post.id
---

<div class="w-full h-full">
    <a href={postLink} class="relative">
        <PostImage post={post} class="w-full h-full object-cover"/>
        <div class="absolute top-0 h-64 left-0 w-3/4 bg-black/50 text-white m-0 pl-12 items-center flex text-6xl">{title}</div>

    </a>
</div>
