---
import BaseLayout from "../../layout/BaseLayout.astro";
---

<BaseLayout title="Case Studies" description="Case Studies">
    <h1>Case Studies</h1>

    <ul>
        <li><a href="/case-studies/flux-images">Flux Images</a></li>
    </ul>
</BaseLayout>